#blog-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.blog-card-container {
    position: absolute;
    top: 20%;
    flex: 1 0 22rem;
    width: 800px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}